# fill in and rename this to .env for docker compose to pick up
OPENAI_API_KEY=
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_MODEL=

DB_USER=matrixai
DB_PASSWORD=
DB_NAME=matrixai